services:
  backend:
    build: .
    container_name: backend
    ports:
      - "8000:8000"
    env_file: .env
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis

  bot:
    build: .
    command: python bot/telegram_bot.py
    env_file: .env
    environment:
      - BACKEND_BASE_URL=http://backend:8000
    depends_on:
      - backend
    dns:
      - 1.1.1.1
      - 8.8.8.8

  redis:
    image: redis:7
    container_name: redis
